@page "/"
@inject SpeedTestRunner Runner

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <button class="btn btn-link" @onclick="Run" disabled="@IsRunning">Run Speedtest</button>
</div>

<pre>
@Output
</pre>